# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static_root

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# PostgreSQL
*.dump
*.sql

# Temporary files
*.tmp
*.bak
*.backup
